/* p {
    color: aqua;
} */

body {
    font-size: 22px;
}

h1, h2 {
    color: brown;
}

p {
    color: green;
    
}

.highlight {
    text-transform: uppercase;
    background-color: aqua;
}

.gray {
    color: blueviolet;
}

#second {
    font-style: italic;
}